
/* Your CSS Code here. */
.box1{
	width:470px;
	height:230px;
	border:2px solid black;
}
.box2{
	width:300px;
	background-color:lightblue;
	border:15px solid blue;
	margin:20px;
	padding:50px;
	
}
.box3{
	text-align:center;
	font-style:italic;
}

